.form_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    
}

.left {
    background-image: url('../../assets/logo_image.svg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 70% 70%;
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.abuto-logo {
    font-family: Kaushan Script;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 65px;
    color: rgba(55, 80, 178, 0.7);
    margin-left: 40px;
    margin-top: 25px ;
    
}

.wel-wrap {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 0.035em;
    color: #3750B2;
    margin-left: 200px;
    margin-top: 40px
}
.abuto-logo2 {
    font-family: Kaushan Script;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(55, 80, 178, 0.7);
    margin-left: 280px;

    
}


/* right hand side of the screen */
.right{
    height: 100%;
    width: 30%;
    background-image: url('../../assets/footer-logo.svg');
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: 100%;
}

.login-signup-btn {
    margin-top: 13vh;
    display: flex

}

@media only screen and (max-width: 768px) {
    .left{
      display: none;
    }
    .right{
        width: 100%;
        background-image: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 14px;
        }
        ::-moz-placeholder { /* Firefox 19+ */
        font-size: 14px;
        }
        :-ms-input-placeholder { /* IE 10+ */
        font-size: 14px;
        }
        :-moz-placeholder { /* Firefox 18- */
        font-size: 14px;
        }
  }