.formBlock input {
    width: 208px;
    border-width: 0px;
    border: none;
    height: 20px;
    margin-right: 43px;
}

.formBlock {
    width: 300px;
    height: 35px;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    box-shadow: 0px 7px 20px rgba(218, 218, 218, 0.5);
    margin-top: 40px;
}



.legend {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.035em;
    margin: -7px 0 0 25px ;
    padding: 0 0 0 5px;
    background-color: #E8F5FF;
    width: 55px;
    text-transform: uppercase;
}

.icon_input_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center
}

input:focus{
    outline: none;
}

.error_label{
    margin: 9px;
    font-size: 14px;
    color: red;
}

.selectInput {
 border: none;
}

select:focus{
    outline: none;
}
select > option {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #3750B2;
    background: rgba(232, 245, 255, 0.8);
    box-shadow: 0px 7px 20px rgba(55, 80, 178, 0.4);
    border-radius: 10px;
 }


 .k{
   /* override default browser outline */
 color: #6C63FF;
   outline: 0;
   /* apply other styles */
 
   border: 2px solid #3750B2;
 }
 

 @media only screen and (max-width: 768px){
    input, select, textarea {
        font-size: 16px;
      }
    
}


/* css for toggle button */
.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 46px;
    height: 18px;
    background: white;
    border-radius: 100px;
    position: relative;
    border: 1px solid rgba(196, 196, 196, 0.7);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
    /* transition: background-color .2s; */
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 45px;
    /* transition: 0.2s; */
    background: linear-gradient(225deg, #6C63FF 0%, rgba(158, 168, 209, 0.4) 100%);
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 60px;
  }