
.dashboard_header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px #3750B2;
    display: flex;
    justify-content: center;
    
}

.dashboard_header_container {
    width: 78%;
    margin-left: 222px;
    left: 0;
    float: right;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.dash_header_left_side{
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}